<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
</head>
<body>
  <h1>{{data}}</h1>

   <form method="POST" action="{% url "create_task" %}">
      {% csrf_token %}
      {{ form }}
      <button type="submit">submit</button>
   </form>

   <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Task details</th>
        <th>No.people</th>
        <th>Date</th>
        <th>Day</th>
        <th>
          action
        </th>
      </tr>
    </thead>

    <tbody>
      {% for task in tasklist %}
      <tr>
          <td>{{ task.name }}</td>
          <td>{{ task.details }}</td>
          <td>{{ task.no_people }}</td>
          <td>{{ task.date_created }}</td>
          <td>{{ task.day_of_week }}</td>
          <td>
            <a href="{% url "delete_task" task.id %}">Delete</a>
            <a href="{% url "edit_task" task.id %}">Edit</a>
          </td>
          
      </tr>

       {% endfor %}
    </tbody>
   </table>


</body>
</html>